{% extends 'base.html' %}
 
{% block header %}
    {% for page in pages %}
        <header><h1>{{page['pageName']}}</h1></header>
    {% endfor %}
{% endblock %}
 
{% block content %}
 
<div class="card-columns">
 
   <div class="card">
       <div class="card-body">
       <h5> Campus Map</h5>
    <img class = "card-img-top" src="../static/images/OurimbahMap.jpg" alt="Map Of Ourimbah Campus"></div></div>
  
        {% for content in contents1 %}
                <header>
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <article class="post">
                                    <h5><b>{{ content['contentHead'] }} {{content['contentID']}}</b></h5>
                                        {% for section in sections1 if section['contentID'] == content['contentID'] %}
                                            
                                            <br>{{section['contentID']}}
                                            <b>{{section['sectionSubTitle']}}</b>
                                            <br>
                                                {{section['sectionDescription']}}
                                            <br>
                                            
                                        {% endfor %}
                                        
                    </div>
                                        
                </header>
          
                
        {% endfor %}
        {% for content in contents2 %}
        <header>
            <div>
                <div class="card">
                    <div class="card-body">
                        <article class="post">
                            <h5><b>{{ content['contentHead'] }} {{content['contentID']}}</b></h5>
                                {% for section in sections2 if section['contentID'] == content['contentID'] %}
                                    
                                    <br>{{section['contentID']}}
                                    <b>{{section['sectionSubTitle']}}</b>
                                    <br>
                                        {{section['sectionDescription']}}
                                    <br>
                                    
                                {% endfor %}
                                
            </div>
                                
        </header>
  
        
{% endfor %}
        
{% endblock %}

