{% extends 'base.html' %}
 
{% block header %}
    {% for page in pages %}
        <header><h1>{{page['pageName']}}</h1></header>
    {% endfor %}
{% endblock %}
 
{% block content %}
 
<div class="card-columns">
 
   <div class="card">
       <div class="card-body">
       <h5> Campus Map</h5>
    <img class = "card-img-top" src="../static/images/OurimbahMap.jpg" alt="Map Of Ourimbah Campus"></div></div>
  
        {% for content in contents %}
                <header>
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <article class="post">
                                    <h5><b>{{ content['contentHead'] }} {{content['contentID']}}</b></h5>
                                    <!-- Need to work out how to get this for loop to restart on second loop -->
                                        {% set cnt = [0] %}
                                        {% for section in sections %}
                                            {% if cnt.append(cnt.pop() + 1) %}{% endif %}
                                            <br>{{section['contentID']}}
                                            <b>{{section['sectionSubTitle']}}</b>
                                            <br>
                                                
                                                {{section['sectionDescription']}}
                                            <br>
                                        {{ cnt[0] }}   
                                        {% endfor %}
                                        total times through = {{ cnt[0] }}
                                </article>        
                    </div>
                                        
                </header>
            
        
        {% endfor %}
        
{% endblock %}

