{% extends 'base.html' %}
 
{% block header %}
    {% for page in pages %}
        <header><h1>{{page['pageName']}}</h1></header>
    {% endfor %}
{% endblock %}
 
{% block content %}
 
 


    {% for content in contents %}
    
        {%if content['contentID'] == 11 %}
            
                                <h5><b>{{ content['contentHead'] }}</b></h5>
                            
                                {% for section in sections11 %}
                                    
                                    <b>{{section['sectionSubTitle']|safe}}</b>
                                  
                                    <br>
                                      {{section['sectionDescription']|safe}}
                                    <br>  
                                    <br>
                                 {% endfor %}
        {%elif content['contentID'] == 12 %}
       
                                <h5><b>{{ content['contentHead'] }}</b></h5>
                                
                                {% for section in sections12 %}
                                    <b>{{section['sectionSubTitle']|safe}}</b>
                                    <br>
                                    
                                      {{section['sectionDescription']|safe}}
                                    <br>  
                                    <br>
                                 {% endfor %}
        {%elif content['contentID'] == 13 %}
            
                                <h5><b>{{ content['contentHead'] }}</b></h5>
                            
                                {% for section in sections13 %}
                                    <b>{{section['sectionSubTitle']|safe}}</b>
                                    <br>
                                      {{section['sectionDescription']|safe}}
                                    <br>  
                                    <br>
                                 {% endfor %}
        {%elif content['contentID'] == 14 %}
            
                                <h5><b>{{ content['contentHead'] }}</b></h5>
                            
                                {% for section in sections14 %}
                                    <b>{{section['sectionSubTitle']|safe}}</b>
                                    <br>
                                      {{section['sectionDescription']|safe}}
                                    <br>  
                                    <br>
                                 {% endfor %}
        {%elif content['contentID'] == 15 %}
           
                                <h5><b>{{ content['contentHead'] }}</b></h5>
                            
                                {% for section in sections15 %}
                                    <b>{{section['sectionSubTitle']|safe}}</b>
                                    <br>
                                      {{section['sectionDescription']|safe}}
                                    <br>  
                                    <br>
                                 {% endfor %}

        

 
        {%endif%}
    {% endfor %}          
 </div>
 
 
  
 {% endblock %}
 

