{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Study Essentials{% endblock %}</h1>
{% endblock %}


{% block content %}



<div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Your First Day</h4>
        <h5>O-Week</h5>
        <p class="card-text">O Week is a great way to get involved in activities with your 
            soon-to-be fellow cohort. It is generally held the week before the 
            Uni Semester starts or Week 1, hence the name "O week". You can 
            check out all the student clubs so that you can meet people with 
            similar interests.</p>
            <h5>Program Sessions</h5>
            <p>
                Orientation also involves attending your program session, where you will 
            receive information about how your degree is structured, some things to 
            expect from it, as well as some tips on how to successfully nail Uni! 
            You will also be able to pick up your student card, which grants you 
            access to the library, your library account, many other Uni services 
            our required identification when sitting for your exams.
            </p>
      </div>
    </div>
    <div class="card">
        <img src="../static/images/LibraryShot.jpg" class="card-img-top" alt="Nice pictures to break up the monotany">
      </div>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">What a typical semester looks like</h4>
          <h5>What to expect in the first few weeks</h5>
          <p class="card-text">All filler no killer</p>
              <h5>Second hand textbooks</h5>
              <p>
                  All filler no killer
              </p>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Your Degree</h4>
          <h5>Where to get program advice</h5>
          changing your degree    information about staff available to contact, including coverners of each degree
          <p class="card-text">All filler no killer</p>
              <h5>PASS Classes </h5>
              <p>
                  All filler no killer
              </p>
        </div>
      </div>
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Exam Advice</h4>
              <h5>Where to get program advice</h5>
              <p class="card-text">study tips, early preparation, exm day information, exam timetables</p>

            </div>
        </div>   
  </div>


    
  {% endblock %}